/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}


@media only screen and (min-width: 620px) {
//page-archives page
body.page-template-default{
	li{
		font-size: 1.25rem;
		}
	}

	footer{
		.site-info{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: nowrap;
			font-size: 1rem;
			margin: 4.5rem 0 3rem;
			 .menu ul{
				display: inline-flex;
				padding: 0;
				li{
					font-size: 1rem;
				}
			}
		p{
			margin-top: 20px;
			font-size: 1rem;
		}
		}		
	}
}
