/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */
//index.php
body.home{
  .entry-content{
    p{
      font-size: 1.25rem;
    }
  }
  
  .site-info{
    margin: 4.5rem 0 3rem;
    a{
      text-decoration: none;
    }
  }
  .menu{
    font-size: 1rem;
  }
}

//page-archives.php

body.page-template-default{
  h1{
    color: #fff;
  }
  h2{
    font-weight: bold;
    font-size: 1.5em;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style:none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    li{
      margin-bottom: .5rem;
      margin-right: 1.125rem;
      font-weight: 300;
    }
  }
  a{
    text-decoration: none;
  }
}

footer{
  padding: 2.5%;
  background-color: #222;
  .menu ul{
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    li:first-child{
      padding-left: 0;
      margin: 0;
    }
    li:last-child{
      border-right: none;
      margin: 0;
    }
    li{
      border-right: 1px solid #fff;
      padding: 0 1rem;
      margin: 0px;
    }
    a{
      text-decoration: none;
      font-weight: 300;
    }
  }
  p {
    margin-bottom: 0;
    font-size: 1rem;
  }
} 

//single.php
body.post-template-default{
  .sitefooter{
    a{
    text-decoration: none;
    }
  }
}